@import url('https://fonts.googleapis.com/css2?family=Rock+3D&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0rem;
}

*::selection {
    background: #FFFFFF;
    color: #000000;
}

html {
    height: 100%;
    background: #000000;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr 25rem 1fr;
    grid-template-rows: 1fr 15rem 1fr;

    margin: 0rem;
    height: 100%;
}

main {
    grid-column: 2;
    grid-row: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

button {
    padding: 1rem;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 0.05rem;
    border-radius: .05rem;
    background: #000000;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;

    transition: .5s;
}

button:hover {
    background: #FFFFFF;
    color: #000000;
}

a {
    padding: 1rem;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 0.05rem;
    border-radius: .05rem;
    background: #000000;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;

    transition: .5s;
}

a:hover {
    background: #FFFFFF;
    color: #000000;
}

h3 {
    padding: 1rem;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 0.05rem;
    border-radius: .05rem;
    background: #000000;
    color: #FFFFFF;

    animation: loading 3s infinite;
}

@keyframes loading {
    0% { 
        opacity: 1;
    }
    50% { 
        opacity: 0;
    }
    100% { 
        opacity: 1;
    }
}

.fade-out {
    animation: fade-out 4s forwards;
}

@keyframes fade-out {
    0% { /** last state **/ }
    25% { 
        opacity: 1;
    }
    100% { 
        opacity: 0;
        visibility: hidden;
    }
}

.fade-in {
    animation: fade-in 3s forwards;
}

@keyframes fade-in {
    from { 
        opacity: 0;
    }
    to { 
        opacity: 1;
        visibility: visible;
    }
}
